*{
    margin: 0;
    padding: 0;
    font-family: "FS Emeric Extra", sans-serif;
}

*::selection {
    background: #7ad7ff;
   }

.title_color-blue{
    color: #009DDF;
}

.container {
    width: 60%;
}

.wrapper-first {
    background: url(../img/first-screen.jpg) no-repeat center;
    float: left;
    width: 100%;
    height: 672px;
}

.header{
    background-color: rgba(10, 10, 24, 0.85);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.header__logo-wrap_text-blue{
    color: #009DDF;
}

.header__burger{
    display: none;
}

.header__nav-item{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.header__nav-item:hover{
    color: #009DDF;
}

.content-offer {
    width: 100%;
    height: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-offer__title{
    margin-top: 60px;
    max-width: 520px;
    color: rgb(10, 10, 24);
    text-transform: uppercase;
}

.content-offer__subtitle {
    margin: 8vh 0 1vh 0;
    color:rgb(10, 10, 24);
    font-weight: bold;
}

.content-offer__items{
    margin-bottom: 8vh;
}

.content-offer__item {
    margin-bottom: 1vh;
    color:rgb(10, 10, 24);
    list-style-type: none;
}

.content-offer__button{
    height: 32px;
    width: 186px;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
}

.content-offer__button_button-blue {
    border: 1px solid white;
    background-color: #009DDF;
    color: white;
    margin-right: 30px;
}

.content-offer__button_button-blue:active{
    background-color:#006693;
}

.content-offer__button_button-white {
    border: 1px solid rgb(10, 10, 24);
    background-color: white;
    color: rgb(10, 10, 24);
}

.content-offer__button_button-white:active{
    background-color: #B8B8BD;
}

.wrapper-second {
    background: url(../img/second-screen.jpg) no-repeat center;
    width: 100%;
    height: 672px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-ordering__title{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.content-ordering__text {
    text-align: center;
    color: #B8B8BD;
    margin-top: 10px;
}

.row-main {
    display: flex;
    justify-content: space-between;
    width: 95%;
    float: left;
    margin-top: 50px;
    margin-left: 2.5%;
}

.row__instruction-order {
    display: flex;
    justify-content: center;
}

.row__text {
    position: absolute;
    max-width: 150px;
    margin-top: 100px;
    text-align: center;
    color: #B8B8BD;
}

.row__circle {
    height: 80px;
    width: 80px;
    background-color: #009DDF;
    border: 5px solid #006693;
    border-radius: 10000px;
    display: flex;
}

.row__image {
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.row__circle img {
    height: 1em;
}

.row__small-circle {
    height: 5px;
    width: 5px;
    color: #B8B8BD;
    border-radius: 100px;
    background-color: #B8B8BD;
    margin: auto;
}

.inputs {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: left;
}

.inputs__select{
    width: 18.5vw;
    margin: 0 auto;
    position: relative;
}

.inputs__select.is-active .inputs__select-body{
    display: none;
}

.inputs__select-header {
    display: flex;
    background-color: #393E50;
    color: white;
    cursor: pointer;
    text-align: center;
}

.inputs__select-current {
    line-height: 24px;
    padding: 8px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */

    text-overflow: ellipsis; /* Добавляем многоточие */

}

.inputs__select-icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
}

.inputs__select-icon p {
    margin-top: 9px;
}

.inputs__select-icon i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.inputs__select-body{
    border: 1px solid black;
    border-top: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    display: block;
}

.inputs__select-item {
    padding: 8px;
    cursor: pointer;
    background-color: rgba(10, 10, 24, 0.85);
    color: white;
}

.inputs__select-item:hover {
    color: #009DDF;
}

.inputs__input{
    width: 18.5vw;
    height: 40px;
    border-radius: 3px;
}

.inputs__input {
    background-color: #B8B8BD;
    color: rgb(10, 10, 24);
    outline: none;
    border: 1px solid white;
    padding-left: 10px;
    box-sizing: border-box;
}

.input__input-error {
    text-align: start;
    display: flex;
    justify-content: center;
    color:red;
    font-size: 0.8em;
    margin-top: 7px;
    max-width: 18.5vw;
}

.content-range{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-range__main{
    width: 65.8%;
    float: left;
}

.content-range__text{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-range__text p {
    color: white;
}

.content-range__interest{
    display: flex;
}

.content-range__range{
    -webkit-appearance: none;
    background-color: #B8B8BD;
    border: 1px solid white;
    border-radius: 100px;
    width: 100%;
    height: 7px;
    outline: none;
    cursor: pointer;
}

.content-range__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #009DDF;
    border: 3px solid #006693;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    transition: 0.25s;
}

.content-range__range::-webkit-slider-thumb:hover,
.content-range__range::-webkit-slider-thumb:active{
    width: 22px;
    height: 22px;
    border: 4px solid #006693;
}

.content-range__range::-moz-range-track{
    -moz-appearance: none;
    background-color: #B8B8BD;
    border: 1px solid white;
    border-radius: 100px;
    width: 100%;
    height: 7px;
    outline: none;
    cursor: pointer;
}

.content-range__range::-moz-range-thumb{
    -moz-appearance: none;
    background-color: #009DDF;
    border: 3px solid #006693;
    border-radius: 100px;
    width: 14px;
    height: 14px;
    transition: 0.25s;
}

.content-range__range::-moz-range-thumb:hover,
.content-range__range::-moz-range-thumb:active{
    width: 16px;
    height: 16px;
    border: 4px solid #006693;
}

.content-range__file {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.content-range__file-main {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.content-range__file-label {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.content-range__file-label{
    box-sizing: border-box;
    border: 2px solid #3E9CDC;
    display: inline-block;
    width: 18.5vw;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    background-color: #B8B8BD;
    font-family: "Lato", sans-serif;
    font-size: 0.9em;
    color: black;
    font-weight: normal;
}

.fake-button-text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-range__file-img{
    margin-right: 20px;
}

.content-range__file-label img{
    height: 1em;
    position: absolute;
}

.content-ordering__button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-blue {
    width: 18.5vw;
    height: 40px;
    background-color: #009DDF;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    outline: none;
}

#second-screen .text-content .button button:active{
    background-color:#006693;
}

.footer {
    background-color: #393E50;
    float: left;
    height: 60px;
    width: 100%;
    position: relative;
    font-size: 0.73em;
    display: flex;
    justify-content: center;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__main p {
    float: left;
    margin-right: 25px;
    color: #B8B8BD;
}

.footer__name-site {
    color: white;
}

.footer__name-site_big-string {
    text-transform: uppercase;
}

.footer img {
    height: 0.8em;
}

.footer__logo-post {
    color: #009DDF;
}

.footer__VK {
    margin-right: 0;
}

.footer__VK_logo {
    color: #009DDF;
    font-size: 1.2em;
    font-weight: bold;
}

.footer__main hr {
    display: none;
}

@media only screen and (max-width:1225px){
  
    .container{
        width: 80%;
    }

    .header__nav-item{
        margin-left: 30px;
    }

    .inputs__select {
        width: 24vw;
    }

    .inputs__input{
        width: 24vw;
    }

    .input__input-error {
        max-width: 24vw;
    }

    .content-range__file-label{
        width: 24vw;
    }

    .button-blue {
        width: 24vw;
    }
}

@media only screen and (max-width:1025px){
    .row__text {
        max-width: 120px;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
}

@media only screen and (max-width:769px){

    body.lock {
        overflow: hidden;
    }

    .header.active {
        background-color: rgb(10, 10, 24);
    }

    .header{
        align-items: center;
        position: fixed;
        z-index: 2;
    }

    .header__logo{
        position: fixed;
        z-index: 3;
    }

    .header__container{
        width: 90%;
    }

    /*Burger menu*/

    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-left: 95%;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger:before,
    .header__burger:after {
       content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 3;
        transition: 0.3s;
    }

    .header__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 3;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__nav{
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #393E50;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        overflow: auto;
    }

    .header__nav.active {
        right: 0;
        top: 0;
    }

    .header__nav-item {
        margin: 30px 0 0 5%;
        font-size: 1.2em;
    }

    .content-offer__button_button-blue{
        margin-bottom: 10px;
    }

    .wrapper-second {
        background-size: cover;
        height: 1062px;
    }

    .row{
        margin-top: 30px;
        height: 500px;
        display: flex;  
        justify-content: center;
        
    }

    .row-main{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        max-width: 250px;
    }

    .row__instruction-order {
        display: flex;
       justify-content: space-between;
    align-items: center;
    }

    .row__text {
        position: relative;
        max-width: 150px;
        margin-top: 0;
    }

    .row__small-circle{
        display: none;
    }

    .inputs__select {
        width: 70vw;
    }

    .inputs {
        margin-top: 48px;
        flex-direction: column;
        align-items: center;
    }

    .inputs__input{
        width: 70vw;
        margin-top: 7px;
    }

    .input__input-error {
        max-width: 70vw;
    }

    .content-range{
        flex-direction: column;
    }

    .content-range__main{
        width: 70vw;
        float: left;
        margin: 7px 0 15px 0;

    }

    .content-range__file-label{
        width: 70vw;
    }

    .button-blue {
        width: 70vw;
    }

    .content-range__text{
        margin: 0;
    }

    .input__input-error {
        justify-content: center;
    }

    .footer{
        height: 140px;
    }

    .footer__main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footer__line{
        display: none;
    }

    .footer hr{
        display: block;
        border: none;
        height: 1px;
        width: 70vw;
        background-color: #B8B8BD;
        margin: 5px 0 5px 0;
    }
}

@media only screen and (max-width:513px){
    .header__burger {
        margin-left: 90%;
    }



    .content-offer__subtitle {
        margin: 4vh 0 1vh 0;
    }

    .content-offer__items{
        margin-bottom: 4vh;
    }

    .content-range__file-label{
        padding: 10px 17vw 10px 17vw;
    }

    .content-range__text_width{
        width: 200px;
    }
}

@media only screen and (max-width:455px){
    .content-range__file-label{
        padding: 10px 15.5vw 10px 15.5vw;
    }
}

@media only screen and (max-width:415px){
    .content-range__file-label{
        padding: 10px 13.5vw 10px 13.5vw;
    }
}

@media only screen and (max-width:400px){

    .wrapper-second {
        height: 1150px;
    }

    .content-offer__subtitle {
        margin: 3vh 0 1vh 0;
    }

    .content-offer__items{
        margin-bottom: 3vh;
    }

    .content-range__file-label{
        padding: 10px 7.5vw 10px 7.5vw;
    }

    .input__input-error {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: 10%;
    }
}